<<<<<<< HEAD


.container-lg {
    width: 200%;
}

#test {
    background-color: whitesmoke;
}

#width {
    width: 88%;
    margin: auto;
    max-width: 1500px;
    min-width: 1000px;
}

.white {
    background-color: white;
}

=======
>>>>>>> refs/remotes/origin/main
#hinweis {
    margin: auto;
    padding: 10px;
    background: white;
    margin-top: 20px;
    height: 5%;
}

.Produktbilder {
    height: 250px;
}

#Produkte {
    margin-top: 20px;
    margin-bottom: 20px;
}

#Einkaufswagen {
    width: 80%;
    padding: 10px;
    background-color: white;
    margin-top: 20px;
}

#zurKasse {
    padding: 10px;
    background-color: white;
}

#deineProdukte {
    width: 80%;
    padding: 10px;
    background: white;
}
#SEPA-icon {
    width: 90%;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}
.stars {
    width: 20px;
}

.top-row {
    height: 20px;
}

.Energieeffizienz {
    height: 40px;
}

.Produkt {
    max-width: 400px;
    min-width: 200px;
}

.Produktbild-hoehe {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Suche_Produktbild{
    width: 95%;
}

.orangeLink {
    color: black;
}

.orangeLink:hover {
    color: darkorange !important; 
} 

#backToTop {
    display: block;
    font-size: 13px;
    background-color: rgb(55, 71, 90);
}

.second-footer {
    background-color: rgb(35, 47, 62);
}

#last-footer {
    background-color: rgb(19, 26, 34);
}

.text-secondary-amazon {
    color: rgb(221, 221, 221) !important;
    text-decoration-color: rgb(221, 221, 221) !important;
}

.text-third-amazon {
    color: rgb(153, 153, 153);
    text-decoration-color: rgb(153, 153, 153);
}

.navbar-fixed-height {
    width: auto;
    height: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.navbar-bg-color {
    background-color: #131921;
}

.onhover-underlined:hover {
    text-decoration: underline !important;
}
