.container-lg {
    width: 200%;
}


#width_warenkorb {
    width: 88% !important;
    margin: auto;
    max-width: 1500px;
    min-width: 1000px;
}

.white {
    background-color: white;
}

#hinweis {
    margin: auto;
    padding: 10px;
    background: white;
    margin-top: 20px;
    height: 5%;
}

.Produktbilder {
    height: 250px;
}

#Produkte {
    margin-top: 20px;
    margin-bottom: 20px;
}

#Einkaufswagen {
    width: 80%;
    padding: 10px;
    background-color: white;
    margin-top: 20px;
}

#zurKasse {
    padding: 10px;
    background-color: white;
}

#deineProdukte {
    width: 80%;
    padding: 10px;
    background: white;
}

.font-11 {
    font-size: 11px !important;
}

#SEPA-icon {
    width: 90%;
}

#toggle-button > a:hover, #toggle-button > button:hover {
    border: 1px solid white;
}

#toggle-button > a, #toggle-button > button {
    border: 1px solid transparent;
    border-radius: 0;
}

blue-link.font-10 > a{
    font-size: 10px !important;
}

blue-link.font-12 > a{
    font-size: 12px !important;
}

blue-link > a {
    color: #007185 !important;
}

.font-10 {
    font-size: 10px !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-14 {
    font-size: 14px !important;
}
.stars {
    width: 20px;
}

.top-row {
    height: 20px;
}

.Energieeffizienz {
    height: 40px;
}

.Produktbild-hoehe {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Suche_Produktbild{
    width: 90%;
    max-height: 230px;
}

.orangeLink {
    color: black;
}

.orangeLink:hover {
    color: darkorange !important; 
} 

#backToTop {
    display: block;
    font-size: 13px;
    background-color: rgb(55, 71, 90);
}

.second-footer {
    background-color: rgb(35, 47, 62);
}

#last-footer {
    background-color: rgb(19, 26, 34);
}

#sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 350px;
    max-width: 350px;
    height: 100vh;
    margin-left: -350px;
    transition: all 0.3s;
    z-index: 999;
}

#sidebar.active {
    margin-left: 0;
    display: inline-block;
}

#product-top-categories > a:hover {
    text-decoration: underline solid orange 1.5px !important;
}

.onhover-orange:hover {
    color: orange !important;
}

.onhover-dropdown:hover > .dropdown-menu {
    display: block;
}

.onhover-dropdown:hover > .dropdown-toggle:active {
    pointer-events: none;
}

.text-secondary-amazon {
    color: rgb(221, 221, 221) !important;
    text-decoration-color: rgb(221, 221, 221) !important;
}

.text-third-amazon {
    color: rgb(153, 153, 153);
    text-decoration-color: rgb(153, 153, 153);
}

.navbar-fixed-height {
    width: auto;
    height: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.navbar-bg-color {
    background-color: #131921;
}

.onhover-underlined:hover {
    text-decoration: underline !important;
}

.dropdown_Stars {
    position: relative;
    display: inline-block;
}

.dropdown_content_Stars {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown_Stars:hover .dropdown_content_Stars {
    display: block;
}

.parent {
    display: flex;
    min-width: 900px;
}

.leftdiv {
    overflow: hidden;
}

.rightdiv {
    float: right;
    width: 160px;
}

.stars {
    width: 20px;
}

.top-row {
    height: 20px;
}

.Energieeffizienz {
    height: 40px;
}

.Produkt {
    max-width: 400px;
    min-width: 200px;
}

.Produktbild-hoehe {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Suche_Produktbild{
    width: 95%;
}

.orangeLink {
    color: black;
}

.orangeLink:hover {
    color: darkorange !important; 
} 

.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    width: 100px;
    height: 100px;
}

#result-image-zoom {
    position: absolute;
    width: 500px;
    height: 500px;
}

.sidebar-dropdown {
    transform: translateX(300px);
}