#hinweis {
    margin: auto;
    width: 100%;
    padding: 10px;
    background: white;
    margin-top: 20px;
}

.Produktbilder {
    height: 250px;
}

.Suche_Produktbilder{
    width: 100%;
}

#Einkaufswagen {
    width: 80%;
    padding: 10px;
    background-color: white;
    margin-top: 20px;
}

#zurKasse {
    width: 200px;
    padding: 10px;
    background-color: white;
}

#deineProdukte {
    width: 80%;
    padding: 10px;
    background: white;
}

.font-12 {
    font-size: 12px !important;
}

.font-14 {
    font-size: 14px !important;
}

#backToTop {
    display: block;
    font-size: 13px;
    background-color: rgb(55, 71, 90);
}

.second-footer {
    background-color: rgb(35, 47, 62);
}

#last-footer {
    background-color: rgb(19, 26, 34);
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 350px;
    max-width: 350px;
    height: 100vh;
    margin-left: -350px;
    transition: all 0.3s;
    z-index: 999;
}

#sidebar.active {
    margin-left: 0;
}

.text-secondary-amazon {
    color: rgb(221, 221, 221) !important;
    text-decoration-color: rgb(221, 221, 221) !important;
}

.text-third-amazon {
    color: rgb(153, 153, 153);
    text-decoration-color: rgb(153, 153, 153);
}

.navbar-fixed-height {
    width: auto;
    height: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.navbar-bg-color {
    background-color: #131921;
}

.onhover-underlined:hover {
    text-decoration: underline !important;
}